<div class="start-footer">
	<div class="container">
		<div class="start-footer-icons">
			<a href="{{@blog.url}}" target="_blank"><i class="social_twitter"></i></a>
			<a href="{{@blog.url}}" target="_blank"><i class="social_facebook"></i></a>
			<a href="{{@blog.url}}" target="_blank"><i class="social_googleplus"></i></a>
			<a href="{{@blog.url}}" target="_blank"><i class="social_pinterest"></i></a>
			<a href="{{@blog.url}}" target="_blank"><i class="social_instagram"></i></a>
			<a href="{{@blog.url}}/rss/" target="_blank"><i class="social_rss"></i></a>
		</div> <!-- /.start-footer-icons -->
		<hr>
		<p class="copyright">© <a href="http://www.corneezius.com" target="_blank">corneezius.com</a></p>
	</div> <!-- /.container -->
</div>